* {
    box-sizing: border-box;
  }
  
  body {
    /* viewport units: vh (viewport height), vw, vmin (smallest between vh & vw) */
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  header {
    font-size: 4vmin;
    color: darkgrey;
    letter-spacing: 1vmin;
  }
  
  h1 {
    color: grey;
    font-size: 3vmin;
    text-transform: capitalize;
  }

  .board {
    display: inline-block;
    height: 225px;
    width: 225px;
    margin-left: 12px;

  }
  
  #colors {
    
    border: 0.1vmin solid grey;
    border-radius: 50%;
    background-color: black;
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    
    

  }
  
  
  button {
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.1vmin solid grey;
    color: grey;
  }
  
  button:hover {
    color: white;
    background-color: darkgrey;
  }

  #score {
    display: flex;
    margin-top: 25px;
    align-items: flex-end;
    flex-direction: column;
    align-items: flex-end;
  }

  #red {
    
    border-top-left-radius: 250px;
    background-color: red;
    opacity: .5;
  }
  
  #blue {
    
    border-bottom-left-radius: 250px;
    background-color: blue;
    opacity: .5;
    margin-top: 10px;
  }
  
  #green {
    
    border-top-right-radius: 250px;
    background-color: green;
    opacity: .5;
  }
  
  #yellow {
    
    margin-top: 10px;
    border-bottom-right-radius: 250px;
    background-color: yellow;
    opacity: .5;
  }